<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<center>
    <div class="container">
    <div class="row">
        <form th:action="@{/register}" method="post" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="UsernameReg" type="text" name="UsernameReg" class="validate" required>
                    <label for="UsernameReg">Username</label>
                </div>
                <div class="input-field col s6">
                    <input id="EmailReg" type="text" name="EmailReg" class="validate" required>
                    <label for="EmailReg">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="PasswordReg" type="password" name="PasswordReg" class="validate" required>
                    <label for="PasswordReg">Contraseña</label>
                </div>
            </div>
          <div class="row">
                <div class="input-field col s12">
                    <button class="btnRegister" type="submit" name="action">Register
                        
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</center>
</body>
</html>